/* css for media page */

button{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  background-color: #E8B375;
  border-radius: 8px;
  font-family: 'ingra', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.learnmore{
  text-decoration: none;
  color: white;
}

 .donatebutton{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  background-color: #E8B375;
  border-radius: 8px;
  font-family: 'ingra', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: lighter;
}




.emailbutton{
  margin-left: 169px;
  background-color: #444444;
}

.bx-wrapper .bx-controls-direction a{
  top: 50% !important;
}



header{
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 3px #000
}

header li{
  display: inline;
  padding-left: 45px;
  font-family: 'ingra', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #444444;
}

header li a{
  color: #333;
  text-decoration: none;
  transition: .3s ease;
}

header li a:hover{
  color: #E8B375;
}

header ul #contact a{
  color: #fff;
  background-color: #E8B375;
  border-radius: 4px;
  position: relative;
  transition: .3s ease;
  padding: 15px;
}

header ul #contact a:hover{
  background-color: #444444;
}

.active{
  color: #E8B375;
}


.social li {
  list-style: none;
  float:left;
}

.search_bar input {
  width:100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


nav {
  background-color: #F3F0EC;
height: 70px;
float: left;
width: 100%;
}

.topnav {
  margin-left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 999;

}

.nav li {
  margin-left: 0;
  text-align:center;
}

.nav a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 25px;
  position: relative;
}

.nav a:hover::before{
  position: absolute;
  top: 13px;
  left:0;
  content: "";
  width: 40%; /* if adjusted fix margin left % to = 100 */
  margin-left: 30%;
  height: 5px;
  background-color: #444444;

}

.topnav a:hover{
/* add color */
}

.topnav li{
  float: left;
  list-style: none;
  font-size: 14px;
  font-family: 'ingra', sans-serif;
  font-weight: 450;
  margin-left: 0;
}

.dropnav {
  display: none;
  position: absolute;
  margin-left: 0;
}

.dropnav li {
  list-style: none;
  margin-left: 0;
  font-size: 12px;
  font-weight: 200;
  width: 100%;
}

.dropnav a{
  text-decoration: none;
  color:#444444;
  background-color: #F6F5F7;
  border-bottom: 1px solid #ffff;
  text-align: center;
  padding: 10px;
  display: block;
  width: 160px;
}

.sidenav {
  list-style-type: none;
  padding-top: 110px;
  font-size: 20px;
  font-family: 'ingra', sans-serif;
  font-weight: normal;
}

.sidenav a {
  text-decoration: none;
  color: black;
}

.sidenav li{
  padding: 10px;
}

.mediaimggallery{
  height:352px;
}


.joinsidenav {
  list-style-type: none;
  font-size: 20px;
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  padding-top: 30px;
}

.joinsidenav a {
  text-decoration: none;
  color: black;
}

.joinsidenav li{
  padding: 10px;
}

.active {
  color: #E8B375;
}


  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.mediaimg {
  position: relative;
}

/* .mediaimg img{
  filter: brightness(70%);
  width: 100%;
  height: 410px;
} */

.topimg{
 height: 410px; width:100%; overflow: hidden;
 filter: brightness(80%);
}

.joinimagetext h1{
  position: absolute;
  top: 200px;
  color: white;
  font-family: 'goldenbook', serif;
  font-size: 80px;
}

.joinimagetext p{
  position: absolute;
  top: 300px;
  color: white;
  font-family: 'ingra', sans-serif;
  font-size: 35px;
  padding-top: 10px;
}

.contactuspage h1{
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 40px;
  color: #A6B5C6;
  padding-top: 30px;
}

.contactuspage p{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 23px;
  padding-bottom: 20px;
}

.contactuspage li{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 23px;
  padding-bottom: 20px;
}

.imagetext h1 {
  position: absolute;
  top: 100px;
  color: white;
  font-family: 'goldenbook', serif;
  font-size: 80px;
}

.imagetext p {
  position: absolute;
  top: 190px;
  color: white;
  font-family: 'ingra', sans-serif;
  font-size: 35px;
}

.press {
  padding-bottom: 50px;
  padding-top: 20px;
}

.press h2 {
    padding-top:18px;
    font-family: 'goldenbook', serif;
    color: #A6B5C6;
    }

.press h3 {
  font-family: 'goldenbook', serif;
  font-weight: 600;
  color: #E8B375;
}

.press p {
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #444444;
}

footer {
  float: left;
  width: 100%;
  background-color: #F3F0EC;
  text-align: center;
  padding-top:50px;
}

footer h3{
  font-size: 20px;
  font-weight: normal;
  font-family: 'goldenbook', serif;
}

footer p{
  color: black;
}

.navlogo{
  padding-bottom: 20px;
}

.bottominfo{
  width: 100%;
  padding-top: 30px;
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  color: black;
}
/* end of css for  page */

/* css for index page */

.indeximg{
  position: relative;
}

.indeximg li {
    width: 100%;
    filter: brightness(70%);
    margin-left: 0;
  }

.indeximagetext{
  position: absolute;
  top:0;
  left:0;
  z-index: 999;
  width: 100%;
  text-align: center;
  padding-top: 10em;
  }

  .indeximg li img {
    width:100%;
    height: 600px;
    overflow: hidden;
  }


  .indeximagetext h1 {
    color: #fff;
    font-family: 'goldenbook', serif;
    font-size: 65px;
    font-weight: 600;
  }

  .indeximagetext p {
    color: white;
    font-family: 'ingra', sans-serif;
  font-weight: lighter;
    font-size: 30px;
    text-align: center;
  }

.Join {
  background-color: #F3F0EC;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.join h2{
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 30px;
}

.join p{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 23px;
  padding-bottom: 20px;
}


.whoarewe {
  padding: 50px;
  text-align: center;
}

.whoarewe h1{
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 40px;
  color: #A6B5C6;
}

.whoarewe p{
  font-size: 18px;
  font-weight: normal;
  color:#444444;
}

.email {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  background-color: #A6B5C6;
  width: 100%;
  float:left;
}


.email h3{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #444444;
  padding-left: 40px;
}

.email p{
  font-family: 'ingra', sans-serif;
  color: black;
  font-size: 15px;
}


/* end of css for index page */


/* css for aboutus page */

/* .aboutusimg img {
    width: 100%;
    height:410px;
    filter: brightness(80%)
  } */

.aboutusimg {
  position: relative;
}

.aboutustext h1{
    position: absolute;
    top: 100px;
    color: white;
    font-family: 'goldenbook', serif;
    font-size: 80px;
}

.aboutustext p{
  position: absolute;
    top: 200px;
    color: white;
    font-family: 'ingra', sans-serif;
    font-size: 35px;
}



.aboutwvys h1{
  padding-top: 30px;
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 40px;
  color: #A6B5C6;
}

.aboutwvys p{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 20.5px;
  color: #444444;
}

.wvyslogo{
  height: 60px;
  margin-left: 30px;
}



.missions h2{
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 30px;
  color: #E8B375;
}
 .missions p{
   font-family: 'ingra', sans-serif;
   font-weight: normal;
   font-size: 20.5px;
   color: #444444;
 }

 .goals{
   padding-bottom: 50px;
 }

.goals h2{
font-family: 'goldenbook', serif;
font-weight: bold;
font-size: 30px;
color: #E8B375;
}

.goals li{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 20.5px;
  color: #444444;
}

.goals ul{
  list-style: disc;
}


/* end of css for aboutus page */


/* start of conductors page */

.conductorstext h1{
    position: absolute;
    top: 200px;
    left: 650px;
    color: white;
    font-family: 'goldenbook', serif;
    font-size: 80px;
}

.conductorstext p{
  position: absolute;
    top: 300px;
    left: 635px;
    color: white;
    font-family: 'ingra', sans-serif;
    font-size: 35px;
}

/* .conductorsimg img{
  position: relative;
  width: 100%;
  height: 410px;
  filter: brightness(80%);
} */

.aboutconductors h1{
  padding-top: 50px;
  font-family: 'goldenbook', serif;
  font-size: 40px;
  font-weight: bold;
  color: #A6B5C6;
}

.aboutconductors h2{
  font-family: 'ingra', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #E8B375;
}

.aboutconductors p{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #444444;
}

.ianjessee{
  padding-top: 50px;
}

.bx-wrapper{
  border:none !important;
}

.emailinput {
  width: 64%;
  height:30px;
  margin: 0 auto;
  display: table;
}

.mediaphotogalleryimg {
  filter: brightness(80%);
  width: 100%;
  height: 410px;
}


.photogallerytext h1{
  position: absolute;
  top: 150px;
  left: 640px;
  color: white;
  font-family: 'goldenbook', serif;
  font-size: 80px;
}

.photogallerytext p {
  position: absolute;
  top: 250px;
  left: 625px;
  color: white;
  font-family: 'ingra', sans-serif;
  font-size: 35px;
}

.photogalleryinfo h2{
  padding-top: 50px;
  font-family:'goldenbook', serif;
  font-size: 40px;
  font-weight: bold;
  color: #A6B5C6;
}



.photogalleryinfo h3{
  padding-top: 10px;
  font-family:'ingra', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #E8B375;
}

.photogalleryinfo p{
  font-family: 'ingra', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #444444;
}

.auditioninfo h1{
  padding-top: 50px;
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 35px;
  color:#A6B5C6;
}

.auditioninfo p{
 font-family: 'ingra', sans-serif;
 font-weight: normal;
 font-size: 20px;
 color: #444444;
}

.challenge{
  background-color: #F3F0EC;
}

.challenge ol{
    margin-bottom: 0;
    padding-left: 490px;
    padding-right: 300px;
}

.challenge h1{
  padding-top: 50px;
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 35px;
  color:#A6B5C6;
  padding-left: 490px;
}

.challenge p{
  font-family: 'ingra', sans-serif;
  font-size: 20px;
  color: #444444;
  padding-left: 490px;
  padding-right: 300px;
}

.auditionrequirements h1{
  padding-top: 50px;
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 35px;
  color:#A6B5C6;
  padding-left: 490px;
}

.bold{
  font-weight: bold;
}

.auditionrequirements p{
  font-family: 'ingra', sans-serif;
  font-size: 20px;
  color: #444444;
  padding-left: 490px;
    padding-right: 300px;
}

.auditionrequirements{
  background-color: #F3F0EC;
  padding-bottom: 50px;
}

.themusic h1{
  padding-top: 50px;
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 35px;
  color:#A6B5C6;
}

.themusic p{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #444444;
}

.themusic li{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #444444;
  margin-left: 0;
}


.challenge ol{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #444444;
  margin-left: 0;
  padding-bottom: 50px;
}

.themusic ul{
  padding-bottom: 50px;
}

.latestnews h1{
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 40px;
  color: #A6B5C6;
  padding-top: 30px;
}

.latestnews p{
  font-family: 'ingra', sans-serif;
  font-size: 20px;
  color: #444444;
}

.Join a{
  text-decoration: none;
}

.paragraph{
  padding-bottom: 50px;
}

.bold{
font-weight: bold;
}

.formusicianstext h1{
  position: absolute;
  top: 200px;

  color: white;
  font-family: 'goldenbook', serif;
  font-size: 80px;
}

.formusicianstext p{
  position: absolute;
  top: 300px;

  color: white;
  font-family: 'ingra', sans-serif;
  font-size: 35px;
  padding-top: 10px;
}

.covidforms h1{
  font-family: 'goldenbook', serif;
  font-weight: bold;
  font-size: 40px;
  color: #A6B5C6;
  padding-top: 30px;
}

.covidforms h2{
  font-family: 'goldenbook', serif;
  font-weight: 600;
  color: #E8B375;
}

.covidforms li{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 20.5px;
  color: #444444;
}

.covidforms ul{
  padding-bottom: 50px;
}


.studentforms h2{
  font-family: 'goldenbook', serif;
  font-weight: 600;
  color: #E8B375;
}

.studentforms li{
  font-family: 'ingra', sans-serif;
  font-weight: normal;
  font-size: 20.5px;
  color: #444444;
}

.studentforms ul{
  padding-bottom: 80px;
}

.jointhesymphony h1{
  font-family: 'goldenbook', serif;
  font-size: 40px;
  color:#A6B5C6;
  font-weight: bold;
  padding-top: 30px;
}

.jointhesymphony p{
  font-family: 'ingra', sans-serif;
  font-size: 20px;
  color: #444444;
  font-weight: normal;
}

.tuitioninfo h2{
font-family: 'goldenbook', serif;
font-weight: bold;
font-size: 30px;
color:#E8B375;
}

.tuitioninfo ul{
font-family: 'ingra', sans-serif;
font-weight: bold;
font-size: 20px;
color: #444444;
padding-bottom: 30px;
}

.tuitioninfo li{
  padding: 10px;
}

.tuitioninfo p{
  font-family: 'ingra', sans-serif;
  font-size: 20px;
  color: #444444;
}

.financialaid h2{
  font-family: 'goldenbook', serif;
  font-size: 30px;
  font-weight:bold;
  color:#E8B375;
}

.financialaid p{
  font-family: 'ingra', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 50px;
}

.programs h1{
  font-family: 'goldenbook', serif;
  font-size: 40px;
  font-weight: bold;
  color: #A6B5C6;
  padding-top: 50px;
}

.programs p{
  font-family: 'ingra', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color:#444444;
}


.youthorchestra h2{
  font-family: 'goldenbook', serif;
  font-size: 30px;
  font-weight: bold;
  color:#E8B375;
}

.youthstrings h2{
  font-family: 'goldenbook', serif;
  font-size: 30px;
  font-weight: bold;
  color:#E8B375;
}

.cadetstrings h2{
  font-family: 'goldenbook', serif;
  font-size: 30px;
  font-weight: bold;
  color:#E8B375;
}

.youthwinds h2{
  font-family: 'goldenbook', serif;
  font-size: 30px;
  font-weight: bold;
  color:#E8B375;
}

.chambermusic h2{
  font-family: 'goldenbook', serif;
  font-size: 30px;
  font-weight: bold;
  color:#E8B375;
}


.ensemblestext h1{
  position: absolute;
  top: 200px;
  color: white;
  font-family: 'goldenbook', serif;
  font-size: 80px;
}

.ensemblestext p{
  position: absolute;
  top: 290px;
  color: white;
  font-family: 'ingra', sans-serif;
  font-size: 35px;
  padding-top: 10px;
}

.ensemblesp{
  font-family: 'ingra', sans-serif;
  font-size: 20px;
  font-weight: normal;
color: #444444
}
